body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #FFFF;


}

main{

    height: calc(100vh  );
    background-color:#272944;
    display: flex;
    flex-direction: row;

}
 
.aside{
    displey:flex;
    align-items: center;
    background-color: #363853;
    width: 15rem;
    flex-direction: column; 
    margin: 20px;
    justify-content: center;
   
}

.perfil{
    background-color: #656160;
    width: 5rem;
    height: 5rem;
    border-radius: 12rem;
    margin: 1rem auto 5rem;
    
    
}
#contenedor-de-inder{
   
    width:100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 60px;
}
#punto-inder{
    width: 15%;
    height: 15%;
    background-color: blue;
    border-radius: 40px;
    margin-top: 10px;   

}
#letra-inder{
    width: 50%;
    height: 100%;
    text-align: center;  
}


.section{
    display: flex;
    background-color: #272944;
    width: 1200px;
    margin: 20px 0px;
    flex-direction: column;
    
   
}
.cuadros{
    height: 2rem;
    width: 6rem;
    background-color: #363853;
    
    margin-left: 40px;
    display: flex;
    flex-direction:column;
  
    
    
}

.contenedor{
    height: 2rem;
    width: 6rem;
    background-color:#363853;
    margin: 0.1rem;
    display: flex;
    flex-direction:row;
   
    
}

.cuadritos{
    height: 1.5rem;
    width: 1.5rem;
    background-color:#363853;
    margin: 0.1rem ;
    
     
}

.letra{
    height: 1.5rem;
    width: 6rem;
    background-color: #363853;
    margin: 0.1rem ;
    float: left;
}



.header{
    display: flex;
    height: 10rem;
    background-color: #272944;
    display: flex;
    flex-direction: column;
}

.hijo1{
    height: calc(15rem/2);
    background-color: #272944;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
     background-color: #363853;
     width: 45%;
     height: 55%;
     display: flex;
    
}
.cuadros2{
    height: 2rem;
    width: 6rem;
    background-color: #363853;
    
   
    display: flex;
    flex-direction:column;
    
  
    
    
}

.contenedor2{
    height: 2.3rem;
    width: 6rem;
    background-color: #363853;
   
    display: flex;
    flex-direction:row;
   
    
}

.cuadritos2{
    height: 2rem;
    width: 3rem;
    background-color: #363853;
    margin: 0.1rem ;
    
     
}


.letra2{
    height: 2rem;
    width: 6rem;
    background-color: #363853;
    margin: 0.1rem ;
    float: left;
}

.en{
    background-color: #272944;
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: flex-end;
    
}
/* este contenedor no se ve el color es nulo  */
.cuadros3{
    height: 2rem;
    width: 10rem;
   
    display: flex;
    align-items: flex-end;
    
   
    display: flex;
    flex-direction:column;
    
  
    
    
}

.contenedor3{
    height: 2.3rem;
    width: 10rem;
    background-color: #272944;
   
    display: flex;
    flex-direction:row;
    align-items: center;
   
    
}

.cuadritos3{
    height: 3rem;
    width: 4rem;
    background-color: #272944;
    margin-top: 12px;
   border-radius: 16px;
    
    
    
     
}
.imagen-header{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    
}

.letra3{
    height: 2rem;
    width: 8rem;
    background-color: #363853;
    margin: 0.5rem ;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 22px;
    
}

.hijo2{
    height: calc(15rem/2);
    background-color:#272944;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.users-cuadritos{
      background-color:#363853;
      height: 2rem;
      width: 12rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-radius: 100px;
      margin: 2rem;
    
      
}

#user-cuadro-chiquito{
    height:100% ;
    width: 3%;
    background-color: #363853;
   
   
}

.article{
    background-color: #272944;
    flex-grow: 1;
    margin: 5px 2rem -1px 1rem;
    border-radius: 2em;
    overflow-y: scroll;
    /* omienza las propiedades */
    display: flex;
    flex-direction: column;
   
    
}
.contenedor-de-filas{
    background-color:#272944;
    width: 100%;
    height: 13%;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.filas{
    background-color: #272944;
    width: 100%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
.bolita-contenedor{
    background-color: #272944;
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: row;
   

    }
#bolita{
    background-color: #656160;
   width: 3rem;
   height: 3rem;
   border-radius: 2rem;  
}
.images{
    width: 100%;
    height: 100%;
    border-radius: 10rem;

}
.iconos-izquieda{
   
    width: 4rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor-de-iconos-izquierda{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}
#cuadro-active{
    background-color: #2ECC71;
    border-radius: 2rem;
    width: 4rem;
    height: 2rem;
}
.punticos{
    
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.5rem;
    
}
/* espacio en blanco para ordenar el resto del texto  */
.blanquito{
    height: 100%;
    width: 1.5rem;
}





